@font-face {
    font-family: 'PTSerifCaption-Itali';
    src: 
         url('/fonts/PTSerifCaption-Italic.woff') format('woff');
    font-weight: normal; /* or bold, etc. */
    font-style: normal; /* or italic, etc. */
  }
  